<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    {{>header}}
    <h2>Everything you need!!</h2>
    {{>footer}}
</body>

</html>