<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='stylesheet' href='./css/styles.css'>

</head>

<body>
    {{>header}}
    <h2>Forecast is provided using this location entered.</h2>
    {{>footer}}
</body>

</html>